<h1>My To Do List</h1>
<label for="addItemInput">What would you like to do today?</label>

<input
  #newItem
  placeholder="add an item"
  (keyup.enter)="addItem(newItem.value); newItem.value = ''"
  class="lg-text-input"
  id="addItemInput" />

<button class="btn-primary" (click)="addItem(newItem.value)">Add</button>
 <!-- Buttons that show all, still to do, or done items on click -->
<div class="btn-wrapper">
  <button
    class="btn btn-menu"
    [class.active]="filter == 'all'"
    (click)="filter = 'all'">
    All
  </button>

  <button
    class="btn btn-menu"
    [class.active]="filter == 'active'"
    (click)="filter = 'active'">
    To Do
  </button>

  <button
    class="btn btn-menu"
    [class.active]="filter == 'done'"
    (click)="filter = 'done'">
    Done
  </button>
</div>





<!-- The double curly brace syntax, {{}}, in the <h2> interpolates the length of the items array and displays the number. -->
<!-- The <span> in the <h2> uses an *ngIf and else to determine whether the <h2> should say "item" or "items". If there is only a single item in the list, the <span> containing "item" displays. Otherwise, if the length of the items array is anything other than 1, the <ng-template>, which we've named elseBlock, with the syntax #elseBlock, shows instead of the <span>. You can use Angular's <ng-template> when you don't want content to render by default. In this case, when the length of the items array is not 1, the *ngIf shows the elseBlock and not the <span>. -->
  <h2>{{items.length}} <span *ngIf="items.length === 1; else elseBlock">item</span>
  <ng-template #elseBlock>items</ng-template></h2>
  
  <ul>
    <!-- The <li> uses Angular's repeater directive, *ngFor, to iterate over all of the items in the items array. Angular's *ngFor like *ngIf, is another directive that helps you change the structure of the DOM while writing less code. For each item, Angular repeats the <li> and everything within it, which includes <app-item> -->
    <li *ngFor="let i of items">
      <!-- The AppComponent has a remove() method for removing the item, which is bound to the remove property in the ItemComponent. The item property in the square brackets, [], binds the value of i between the AppComponent and the ItemComponent. -->
      <app-item (remove)="remove(i)" [item]="i"></app-item>
    </li>
  </ul>
  